{#
 # Cart content counts
 #
 # @package WordPress
 # @subpackage Rider404
 # @author Jérémy Levron <jermeylevron@19h47.fr> (https://19h47.fr)
 #}
<span class="js-cart-contents-count">{{- count -}}</span>
