{#
 # Empty cart message
 #
 # @package WordPress
 # @subpackage Rider404
 #}
<p class="Info cart-empty woocommerce-info">
	{{- include( 'svg/use.html.twig', { icon: 'face-with-mouth' }, with_context = false ) -}}
	{% apply apply_filters( 'wc_empty_cart_message' ) | e( 'wp_kses_post' ) %}
		{{- __( 'Your cart is currently empty.', 'rider404' )  -}}
	{% endapply %}
</p>
