{#
 # Image reveal
 #
 # @package Rider404
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<div class="Image-reveal" data-scroll>
    <div class="Image-reveal__content">
       {% block content %}{% endblock %}
    </div>
</div>
