{#  
 # Split text
 #
 # @package Rider404
 #}
<div 
    id="split-text-{{ id }}" 
    class="Split-text page-block{{ classes ? ' ' ~ classes | join( ' ' ) }}" 
    data-scroll 
    data-scroll-call="split-text-{{ id }}"
    data-node-type="SplitTextBlock"
>
    {{- title -}}
</div>