{#  
 # Split text
 #
 # @package Rider404
 #}
<div 
    id="split-text-{{ fn( 'uniqid' ) }}" 
    class="Split-text page-block{{ classes ? ' ' ~ classes | join( ' ' ) }}" 
    data-scroll 
    data-node-type="SplitTextBlock"
>
    {{- title -}}
</div>