{#
 # Button add to cart
 #
 # @package WordPress
 # @subpackage Rider404
 #}
<button
	id="add-to-cart"
	class="Add-to-cart "
	type="submit"
	data-module-add-to-cart
	data-add-to-cart="button"
	data-lottie-json="add-to-cart"
	data-lottie-autoplay="false"
	data-lottie-loop="false"
	aria-label="{{ product.single_add_to_cart_text() | e( 'esc_html' ) }}"
></button>
<input type="hidden" name="add-to-cart" value="{{ function( 'absint', product.get_id() ) }}">
