{#
 # Button play
 #
 # @package Error404
 #}
<button class="Button-play" type="button">
    <span class="Pointer-events-none">
        {%- include 'svg/use.html.twig' with { icon: 'play' } only -%}
        {%- include 'svg/use.html.twig' with { icon: 'play' } only -%}
    </span>
</button>
