{#
 # Button play
 #
 # @package WordPress
 # @subpackage Rider404
 #}
<button
	class="Button-play"
	type="button"
	aria-label="{{ __( 'Play', 'rider404' ) }}"
	{{ attributes ? attributes | map( ( value, key ) => "#{key}=\"#{value}\"" ) | join( ' ' )  | raw }}
>
    <span class="Pointer-events-none">
        {{- include( 'svg/use.html.twig', { icon: 'play' }, with_context = false ) -}}
        {{- include( 'svg/use.html.twig', { icon: 'play' }, with_context = false ) -}}
    </span>
</button>
