{#
 # Modal
 #
 # @param string control
 # @param string video
 #
 # @package WordPress
 # @subpackage Rider404
 #}
{% if video %}
	<div
		id="modal-{{ control }}"
		class="Modal"
		data-video-id="{{ video }}"
		data-video-control="{{ control }}"
		data-module-modal
	>
		<header class="Modal__header">
			<div class="row h-100">
				<div class="col-1 offset-11 h-100 d-flex">
					<button class="Modal__button" type="button" data-modal="button">
						{{ include( 'svg/use.html.twig', { icon: 'times', classes: [ 'Pointer-events-none' ] }, with_context = false ) }}
					</button>
				</div>
			</div>
		</header>

		<div class="row h-100">
			<div class="col-10 offset-1 h-100">
				<div class="Modal__body">
					<div data-modal="player"></div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
