{#
 # Video
 #
 # @param string video
 #
 # @package WordPress
 # @subpackage Rider404
 #}
{% if video %}
	<div id="{{ id }}" class="Video{{ classes ? ' ' ~ classes | join( ' ' ) }}" data-module-video>

		<div class="Video__body">
			{% if overlay %}
				<div class="Video__overlay">
					{{
						include(
							'components/button-play.html.twig',
							{ attributes: { 'data-video': 'button' } }
						)
					}}
				</div>
			{% endif %}

			<canvas data-video="canvas"></canvas>

			<video playsInline autoplay loop preload="auto" muted>
				<source src="{{ video }}" type="video/mp4">
			</video>
		</div>

		{% block caption %}{% endblock %}
	</div>
{% endif %}
