/**
 * Add to cart
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Add-to-cart {
	@extend %position-relative;
	@include size(44px, 42px);

	svg {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@include size(100%);
		@extend .d-block;

		transition: fill 0.5s map-get($easings, ease-out-expo);
		fill: the_color(white);
	}

	svg.add-to-cart-danger {
		@extend .d-none;
	}

	&.wc-variation-is-unavailable {
		@extend %cursor-not-allowed;

		// svg.add-to-cart-danger {
		// 	@extend .d-inline-block;
		// }

		// svg.add-to-cart {
		// 	@extend .d-none;
		// }

		svg {
			// fill: the_color(red, bright);
			path {
				stroke: the_color(red, bright) !important;
			}
		}
	}

	&.wc-variation-selection-needed {
		@extend %cursor-not-allowed;

		// svg.add-to-cart-danger {
		// 	@extend .d-inline-block;
		// }

		// svg.add-to-cart {
		// 	@extend .d-none;
		// }

		svg {
			// fill: the_color(gray, very-dark-02);
			path {
				stroke: the_color(gray, very-dark-02) !important;
			}
		}
	}

	@at-root .woocommerce-variation-add-to-cart-disabled & {
		@extend %cursor-not-allowed;

		svg {
			// fill: the_color(gray, very-dark-02);

			path {
				stroke: the_color(gray, very-dark-02) !important;
			}
		}
	}
}
