/**
 * Add to cart hover
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Add-to-cart-hover {
	@extend .d-flex, .align-items-center, .justify-content-center;
	@extend %position-relative;
	@include size(110px);

	margin: 0 auto;

	& > div {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@include size(100%);

		animation-name: spin;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	& > svg {
		@include size(100%);
	}

	button {
		@extend .d-flex, .align-items-center, .justify-content-center;
		@include size(110px);

		svg {
			margin: auto;
		}

		z-index: 2;
	}

	@keyframes spin {
		100% {
			transform: rotate(360deg);
		}
	}
}
