/**
 * Add to cart
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
@use "sass:math";

.Add-to-cart {
	@extend .position-relative;

	font-size: 12px;
	line-height: math.div(16, 12);

	svg {
		// @include absolute(top 0 right 0 bottom 0 left 0);
		@include margin(right auto left auto);
		@extend .d-block;

		width: 44px !important;
		height: 42px !important;

		transition: fill 0.5s map-get($easings, ease-out-expo);
		fill: the_color(white);
		will-change: fill;
	}

	svg.add-to-cart-danger {
		@extend .d-none;
	}

	&.wc-variation-is-unavailable {
		@extend .cursor-not-allowed;

		// svg.add-to-cart-danger {
		// 	@extend .d-inline-block;
		// }

		// svg.add-to-cart {
		// 	@extend .d-none;
		// }

		svg {
			// fill: the_color(red, bright);
			path {
				stroke: the_color(red, bright) !important;
			}
		}
	}

	&.wc-variation-selection-needed {
		@extend .cursor-not-allowed;

		// svg.add-to-cart-danger {
		// 	@extend .d-inline-block;
		// }

		// svg.add-to-cart {
		// 	@extend .d-none;
		// }

		svg {
			// fill: the_color(gray, very-dark-02);
			path {
				stroke: the_color(gray, very-dark-02) !important;
			}
		}
	}

	@at-root .woocommerce-variation-add-to-cart-disabled & {
		@extend .cursor-not-allowed;

		svg {
			// fill: the_color(gray, very-dark-02);

			path {
				stroke: the_color(gray, very-dark-02) !important;
			}
		}
	}
}
