/**
 * Bar
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Bar {
	@extend .d-none, .d-md-flex, .align-items-md-center;
	@include padding(top 20px right 30px bottom 20px left 30px);

	@include fixed(top 0 right 0 left 0);
	@include margin(top 75px right auto left auto);
	@extend %text-align-center;

	border-radius: 35px;
	border: 1px solid the_color(gray, very-dark-03);
	background-color: the_color(gray, very-dark-01);

	width: min-content;
	z-index: 20;

	transition: opacity 1s map-get($easings, ease-out-expo),
		visibility 1s map-get($easings, ease-out-expo);

	@at-root .is-ontop & {
		@include autoAlpha(0);
	}

	@at-root .Menu--is-open & {
		@include autoAlpha(0);
	}
}
