/**
 * Bars
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Bars {
	@include size(32px);
	@include margin(bottom 0);

	min-width: 32px;

	@include media-breakpoint-up(md) {
		@include size(42px);

		min-width: 42px;
	}

	svg {
		@include size(100%);

		min-width: 32px;

		path {
			stroke: currentColor !important;
			transition: stroke 0.5s map-get($easings, ease-out-expo) !important;
		}

		@include media-breakpoint-up(md) {
			min-width: 42px;
		}
	}
}
