/**
 * Bar
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Bar {
	@extend .pe-none;

	transition: opacity 1s map-get($easings, ease-out-expo),
		visibility 1s map-get($easings, ease-out-expo);

	> div {
		@extend .pe-auto;

		border-radius: 35px;
		border: 0.0625rem solid the_color(gray, very-dark-03);
		background-color: the_color(gray, very-dark-01);
	}

	@at-root .is-ontop & {
		@include autoAlpha(0);
	}

	@at-root .Navigation--is-open & {
		@include autoAlpha(0);
	}

	@at-root .is-ontop & > div {
		@extend .pe-none;
	}

	@at-root .Navigation--is-open & > div {
		@extend .pe-none;
	}
}
