/**
 * Coordinates
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Coordinates {
	$this: &;

	@extend %Pointer-events-none;
	@include absolute(top 0 right 0 bottom 0 left 0);

	span {
		@extend .d-inline-block;

		position: absolute;

		font-feature-settings: 'tnum';
		font-variant-numeric: tabular-nums;

		color: the_color(gray, very-dark-03);
	}
}
