/**
 * FAQ
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Faq {
	$this: &;

	@include margin(top 0);

	&__grid {
		@extend .d-none, .d-md-block;
		@include absolute(top 0 right 0);
		@include margin(top percentage(-200/1440));

		z-index: 1;
	}

	&__questions {
		@extend %list-style-type-none, %font-weight-light, %position-relative, %margin-0;
		@include padding(top 120px);

		z-index: 2;

		@include media-breakpoint-up(sm) {
			@include padding(top 180px);
		}

		@include media-breakpoint-up(md) {
			@include padding(top 240px);
		}

		@include media-breakpoint-up(lg) {
			@include padding(top 266px);
		}

		@include media-breakpoint-up(lg) {
			@include padding(top 266px);
		}

		@include media-breakpoint-up(hd) {
			@include padding(top 423px);
		}

		&__item {
			@include margin(left percentage(0.5/4));
			@include padding(left percentage(0.5/4));
			@extend %position-relative;

			border-left: 1px solid the_color(gray, very-dark-03);

			&:first-child {
				a {
					@include padding(top 0);
				}
			}

			&:last-child {
				a {
					@include padding(bottom 0);
				}
			}

			&.is-active {
				a {
					color: the_color(white);
				}

				&::before {
					@include absolute(top 0 bottom 0 left 0);
					@include size(1px, 100%);
					@include margin(left -1px);

					content: '';
					background-color: the_color(white);
				}
			}

			&::before {
				transition: background-color 0.5s map-get($easings, ease-out-expo);
			}

			a {
				@include padding(top 15px bottom 15px);
				@extend .d-block;

				color: the_color(gray, very-dark-03);
				transition: color 0.5s map-get($easings, ease-out-expo);

				@include media-breakpoint-up(lg) {
					@include padding(top 30px bottom 30px);
				}
			}
		}
	}

	&__answers {
		@extend %list-style-type-none, %font-weight-light;

		&__item {
			@include padding(top 180px);

			@include media-breakpoint-up(md) {
				@include padding(top 240px);
			}

			@include media-breakpoint-up(lg) {
				@include padding(top 266px);
			}

			@include media-breakpoint-up(lg) {
				@include padding(top 266px);
			}

			@include media-breakpoint-up(hd) {
				@include padding(top 423px);
			}
		}
	}
}
