/**
 * Image reveal
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Image-reveal {
	$this: &;

	@extend %overflow-hidden;

	height: 100%;

	@include media-breakpoint-up(md) {
		height: auto;
	}

	&__content {
		@include size(100%);

		transform: translate3d(100%, 0, 0);
		transition: transform 1.5s map-get($easings, ease-out-expo);
		will-change: transform;
	}

	&.is-inview #{ $this }__content {
		transform: translate3d(0, 0, 0);
	}
}
