/**
 * Info
 *
 * @package WordPress
 * @subpackage Rider404
 * @since 1.0.0
 */
.Info {
	@extend .d-flex;
	@include padding(top 16px right 20px bottom 16px left 20px);
	@include margin(bottom 20px);

	background-color: the_color(gray, very-dark-02);
	border: none;
	color: the_color(white);

	& > *:first-child {
		@include margin(left auto);
	}

	svg {
		@include size(28px);
		@include margin(right 20px);

		min-width: 28px;

		fill: the_color(white);
	}

	&::before {
		content: none;
	}

	a,
	button {
		@include margin(top 4px right 8px left auto);
		@extend %text-decoration-underline,
			%text-transform-uppercase,
			%font-family-title,
			%font-weight-heavy;

		font-size: 16px;
		line-height: (28/16);
	}
}
