/**
 * Link underline
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Link-underline {
	@extend %font-weight-extrablack, %font-family-title;

	font-size: 19px;
	line-height: 1.2;
	transition: color 0.5s map-get($easings, ease-out-expo);

	@include media-breakpoint-up(md) {
		font-size: 34.5px;
		// line-height: (19/34.5);
	}

	@include media-breakpoint-up(lg) {
		font-size: 38px;
		// line-height: (23/38);
	}

	&:disabled {
		@extend %Pointer-events-none;

		color: the_color(gray, very-dark-03);
	}

	&--small {
		font-size: 16px;
	}

	& > div {
		@extend %position-relative;

		&.is-inview::after {
			transform: scaleX(1);
		}

		&.is-inview.is-active::after {
			transition-delay: 0s;
		}
	}

	& > div::after {
		@include absolute(right 0 bottom 0 left 0);
		@include size(100%, 2px);
		@extend .d-block;

		background-color: currentColor;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 0.5s map-get($easings, ease-out-expo) 0.5s,
			background-color 0.5s map-get($easings, ease-out-expo) 0.5s;
		content: '';
	}

	&:focus,
	&:hover {
		color: the_color(red, bright);

		& > div::after {
			transform: scaleX(0);
		}
	}
}
