/**
 * Loop product thumbnail
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Loop-product-thumbnail {
	@extend %overflow-hidden;

	transition: transform 1.5s map-get($easings, ease-out-expo);
	will-change: transform;
	height: 420px;

	@include media-breakpoint-up(sm) {
		height: auto;
	}

	img {
		@extend .d-block;
		@include size(100%);

		transition: transform 1.5s map-get($easings, ease-out-expo);
		will-change: transform;
		object-fit: cover;
		object-position: center;

		@include media-breakpoint-up(sm) {
			@include size(100%, auto);

			object-fit: fill;
		}
	}
}
