/**
 * Loop product thumbnail
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Loop-product-thumbnail {
	@extend %overflow-hidden;

	transition: transform 2s map-get($easings, ease-out-expo);
	will-change: transform;

	height: 420px;

	@include media-breakpoint-up(sm) {
		height: auto;
	}

	img {
		@extend .d-block;
		@include size(100%);

		transition: filter 1s map-get($easings, ease-out-expo),
			transform 2s map-get($easings, ease-out-expo);
		filter: grayscale(100%);
		object-fit: cover;
		object-position: center;
		will-change: filter, transform;

		@include media-breakpoint-up(sm) {
			@include size(100%, auto);

			object-fit: fill;
		}

		&:hover {
			filter: grayscale(0);
		}
	}
}
