/**
 * Loop product title
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
@use "sass:math";

.Loop-product-title {
	@extend %font-family-body;

	font-size: 18px;
	line-height: math.div(28, 18);

	white-space: nowrap;
	text-overflow: ellipsis;
}
