/**
 * Loop price
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Loop-price {
	@extend .d-flex, .justify-content-between, .align-items-center;
	@extend %font-weight-light;

	svg {
		@extend .d-block;
		@include size(16px);

		fill: the_color(white);
	}

	a {
		transition: transform 0.5s map-get($easings, ease-out-expo);
	}

	a:hover {
		transform: rotate(90deg);
	}
}
