/**
 * Menu
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Menu {
	$this: &;

	@include fixed(top 0 right 0 bottom 0 left 0);
	@include autoAlpha(0);

	z-index: 5;
	background-color: the_color(white);
	color: the_color(black);

	@at-root .Menu--is-open & {
		@include autoAlpha(1);
	}

	&__items {
		@extend %list-style-type-none, %position-relative;

		z-index: 2;
	}

	&__item {
		@extend %text-align-center;

		a {
			@extend %font-family-title, %margin-0;
			@extend .h1, .d-inline-block;
		}
	}

	&__video {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@include size(100%);

		object-fit: cover;
		object-position: center;

		z-index: 1;
	}
}
