/**
 * Menu
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Menu {
	$this: &;

	@include fixed(top 0 right 0 bottom 0 left 0);
	@include autoAlpha(0);
	@include size(100%, 100vh);
	@include padding(bottom env(safe-area-inset-bottom));

	z-index: 10;
	background-color: the_color(white);
	color: the_color(black);

	@at-root .Menu--is-open & {
		@include autoAlpha(1);
	}

	.Video {
		@include absolute(top 0 right 0 bottom 0 left 0);

		&__body {
			@include padding(bottom 0);
			@include size(100%);
		}
	}

	&__items {
		@extend %list-style-type-none, %position-relative;

		z-index: 3;
	}

	&__item {
		@extend %text-align-center;

		a {
			@extend %font-family-title, %margin-0, %position-relative;
			@extend .h1, .d-inline-block;

			line-height: (140/110);

			&::after {
				@include absolute(bottom 0 right 0 left 0);
				@include size(100%, 2px);
				@extend .d-none;

				background-color: currentColor;
				content: '';

				@include media-breakpoint-up(md) {
					@include margin(bottom 30px);
				}
			}

			svg {
				@include absolute(top 50% left 50%);
				@include size(342px, 171px);
				@include autoAlpha(0);

				transform: translate3d(-50%, -50%, 0);
				fill: the_color(red, bright);

				transition: opacity 0.5s map-get($easings, ease-out-expo),
					visibility 0.5s map-get($easings, ease-out-expo);
			}

			&.is-active::after {
				@extend .d-block;
			}
			&:focus,
			&:hover {
				svg {
					@include autoAlpha(1);
				}
			}
		}
	}

	&__footer {
		@include absolute(right 0 bottom 0 left 0);
		@include margin(bottom 80px);
		@extend %text-align-center, %text-decoration-underline;

		color: the_color(gray, very-dark-02);
		z-index: 3;

		font-size: 12px;
		line-height: 17px;

		@include media-breakpoint-up(md) {
			font-size: 18px;
			line-height: 28px;
		}
	}
}
