/**
 * Modal
 *
 * @package Rider404
 */
.Modal {
	@include fixed(top 0 right 0 bottom 0 left 0);
	@include size(100%);
	@include padding(top 100px bottom 100px);
	@include autoAlpha(0);

	transition: opacity 0.5s map-get($easings, ease-out-expo),
		visibility 0.5s map-get($easings, ease-out-expo);

	background-color: the_color(gray, very-dark-01);
	z-index: 15;

	&.is-active {
		@include autoAlpha(1);
	}

	&__header {
		@include absolute(top 0 right 0 left 0);
		height: 100px;
	}

	&__button {
		@include size(30px);
		@include margin(top auto right auto bottom auto left auto);

		svg {
			@include size(100%);

			fill: the_color(white);
		}
	}

	&__body {
		@extend %position-relative;
		@include size(100%);

		& > iframe {
			@include absolute(top 0 left 0);
			@include size(100%);
		}
	}
}
