/**
 * Modal
 *
 * @package Rider404
 */

.Modal {
	// @include fixed(top 0 right 0 bottom 0 left 0);
	// @include padding(top 100px bottom 100px);
	@include autoAlpha(0);

	transition: opacity 0.5s map-get($easings, ease-out-expo),
		visibility 0.5s map-get($easings, ease-out-expo);

	background-color: the_color(gray, very-dark-01);
	// z-index: 15;

	&.is-active {
		@include autoAlpha(1);
	}

	&__header {

		height: 100px;
	}

	&__button {
		@include size(30px);
		@include margin(top auto right auto bottom auto left auto);

		svg {
			fill: the_color(white);
			transition: transform 0.5s map-get($easings, ease-out-expo);
		}

		&:hover {
			svg {
				transform: rotate(90deg);
			}
		}
	}

	&__body {
		& > iframe {
			@include absolute(top 0 left 0);
			@include size(100%);
		}
	}
}
