/**
 * Navigation
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
@use "sass:math";

.Navigation {
	@include autoAlpha(0);

	@at-root .Navigation--is-open & {
		@include autoAlpha(1);
		@extend .pe-auto;
	}

	.Video {

		@include autoAlpha(0);

		z-index: 2;

		&__body {
			@include padding(bottom 0);
			@include size(100%);
		}
	}

	&__item {
		.Navigation__link {
			@extend %font-family-title;
			// @include margin(top 0 right 0 bottom 0 left 0);

			line-height: math.div(140, 110);
			transition: color 0.5s map-get($easings, ease-out-expo);

			svg {
				@include absolute(top 0 right 0 bottom 0 left 0);
				@include size(342px, 171px);
			}

			&:focus,
			&:hover,
			&.is-active {
				color: the_color(red, bright);
			}
		}
	}

	&__footer {
		@include autoAlpha(0);

		font-size: 12px;
		line-height: 17px;

		@include media-breakpoint-up(md) {
			font-size: 18px;
			line-height: 28px;
		}
	}
}
