/**
 * Navigation
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Navigation {
	$this: &;

	@include fixed(top 0 right 0 bottom 0 left 0);
	@include size(100%, 100vh);
	@include padding(bottom env(safe-area-inset-bottom));
	@extend %Pointer-events-none;

	z-index: 10;
	color: the_color(black);

	@at-root .Navigation--is-open & {
		@extend %Pointer-events-auto;
	}

	.Video {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@include autoAlpha(0);

		z-index: 2;

		&__body {
			@include padding(bottom 0);
			@include size(100%);
		}
	}

	&__items {
		@extend %list-style-type-none, %position-relative;

		z-index: 3;
	}

	&__item {
		@extend %text-align-center, %overflow-hidden;
		// @include autoAlpha(0);

		#{ $this }__link {
			@extend %font-family-title, %position-relative;
			@extend .h1, .d-inline-block;
			@include margin(top 0 right 0 bottom 0 left 0);

			line-height: (140/110);
			transition: color 0.5s map-get($easings, ease-out-expo);

			svg {
				@include absolute(top 0 right 0 bottom 0 left 0);
				@include size(342px, 171px);
			}

			&:focus,
			&:hover,
			&.is-active {
				color: the_color(red, bright);
			}
		}
	}

	&__footer {
		@include absolute(right 0 bottom 0 left 0);
		@include margin(bottom 80px);
		@extend %text-align-center, %text-decoration-underline;
		@include autoAlpha(0);

		color: the_color(gray, very-dark-02);
		z-index: 3;

		font-size: 12px;
		line-height: 17px;

		@include media-breakpoint-up(md) {
			font-size: 18px;
			line-height: 28px;
		}
	}

	&__background {
		@include absolute(top 0 right 0 bottom 0 left 0);

		z-index: 1;
	}
}
