/**
 * Partners
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Partners {
	$this: &;

	@extend %position-relative;

	@include media-breakpoint-up(md) {
		@include margin(right percentage(0.5/6));
	}

	h2 {
		@include margin(bottom 50px);

		@include media-breakpoint-up(md) {
			@include margin(bottom 80px);
		}
	}

	&__grid {
		@extend .d-none, .d-md-block;
		@include absolute(top 0 left 0);
		@include margin(left percentage(1080/1440));
	}

	&__decor {
		@include margin(top auto left -14px bottom auto);
		@include absolute(top 0 bottom 0 left 0);
	}

	&__items {
		@include margin(top -20px right -20px bottom -20px left -20px);
		@extend %list-style-type-none;
		@extend .d-flex, .flex-wrap;

		@include media-breakpoint-up(hd) {
			@include margin(top -25px right -25px bottom -25px left -25px);
		}
	}

	&__item {
		@include size(percentage(1/2), 80px);

		transform: translate3d(0, 100%, 0);
		opacity: 0;
		transition: opacity 0.5s map-get($easings, ease-out-expo),
			transform 1.5s map-get($easings, ease-out-expo);

		@include media-breakpoint-up(sm) {
			width: percentage(1/4);
		}

		img {
			@include padding(top 20px right 20px bottom 20px left 20px);
			@include size(100%);

			object-fit: contain;
			object-position: center;
			opacity: 0.3;
			transition: opacity 0.5s map-get($easings, ease-out-expo);

			@include media-breakpoint-up(hd) {
				@include padding(top 25px right 25px bottom 25px left 25px);
			}
		}

		a {
			&:focus,
			&:hover {
				img {
					opacity: 1;
				}
			}
		}

		@at-root #{$this}__items.is-inview & {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}
}
