/**
 * Product list widget
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Product-list-widget {
	@extend .row;
	@extend %list-style-type-none;
	@include margin(top 20px);

	height: 516px;

	.flickity-viewport {
		width: 100%;
		overflow: visible;
	}

	@include media-breakpoint-up(sm) {
		@include margin(top 0);
		height: auto;
	}

	li {
		@include size(percentage(10/12), 100%);
		@include margin(right percentage(0.25/10) left percentage(0.25/10));

		@include media-breakpoint-up(sm) {
			@include margin(right 0 left 0);
			@include size(auto);
		}
	}

	li:nth-child(1) {
		@extend .offset-sm-1;

		@include media-breakpoint-up(sm) {
			@include margin(top -35px);

			width: percentage(3/12);
		}

		@include media-breakpoint-up(md) {
			@include margin(top -125px);
		}

		@include media-breakpoint-up(lg) {
			@include margin(top -115px);
		}

		@include media-breakpoint-up(hd) {
			@include margin(top -205px);
		}
	}
	li:nth-child(2) {
		@extend .offset-sm-6;

		@include media-breakpoint-up(sm) {
			width: percentage(6/12);
		}

		@include media-breakpoint-up(md) {
			@include margin(top -170px);
		}

		// @include media-breakpoint-up(lg) {
		// 	@include margin(top -350px);
		// }

		// @include media-breakpoint-up(hd) {
		// 	@include margin(top -570px);
		// }
	}
}
