/**
 * Product Thumbnail
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Product-thumbnail {
	@extend .d-block;

	@include size(100%);

	max-height: 100%;

	object-fit: cover;
	object-position: center;

	@include media-breakpoint-up(md) {
		@include size(auto);

		max-width: 100%;
		object-fit: contain;
	}
}
