/**
 * Products
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Products {

	li {
		@include margin(top 60px bottom 60px);
	}

	li:nth-child(8n + 1) {
		@extend .col-10, .offset-1, .col-sm-4, .offset-sm-1;
	}

	li:nth-child(8n + 2) {
		@extend .col-10, .offset-1, .col-sm-3, .offset-sm-1;
	}

	li:nth-child(8n + 3) {
		@extend .col-10, .offset-1;
	}

	li:nth-child(8n + 4) {
		@extend .col-10, .offset-1, .col-sm-3, .offset-sm-1;
	}

	li:nth-child(8n + 5) {
		@extend .col-10, .offset-1, .col-sm-6, .offset-sm-1;
	}

	li:nth-child(8n + 6) {
		@extend .col-10, .offset-1, .col-sm-3, .offset-sm-1;
	}

	li:nth-child(8n + 7) {
		@extend .col-10, .offset-1, .col-sm-4, .offset-sm-1;
	}

	li:nth-child(8n + 8) {
		@extend .col-10, .offset-1, .col-sm-6, .offset-sm-1;
	}
}
