/**
 * Quick cart
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Quick-cart {
	$this: &;

	.Price {
		@include margin(right 45px bottom 0);
	}

	.Variation-add-to-cart {
		@include margin(left 45px);
	}

	.Single-variation {
		@extend .d-none;
	}

	.Add-to-cart {
		@include size(24px);
	}

	.stock.out-of-stock {
		color: the_color(red, bright);

		font-size: 12px;
		line-height: (28/12);
	}

	[role='radiogroup'] {
		@extend .d-flex;
		@extend %font-weight-regular;
		@include margin(right 15px left 15px);

		font-size: 14px;
		line-height: (28/14);

		color: the_color(gray, very-dark-02);

		[role='radio'] {
			@extend %position-relative;
			@include margin(right 15px left 15px);
			@extend %cursor-pointer;

			transition: color 0.5s map-get($easings, ease-out-expo);

			&:first-child {
				@include margin(left 0);
			}
			&:last-child {
				@include margin(right 0);
			}

			&:after {
				@include absolute(top 100% right 0 left 0);
				@include size(100%, 1px);
				@include margin(top -4px);
				@extend .d-block;

				background-color: currentColor;
				content: '';
				opacity: 0;

				transition: opacity 0.5s map-get($easings, ease-out-expo),
					background-color 0.5s map-get($easings, ease-out-expo);
			}

			&:hover,
			&.is-focus {
				outline: none;

				&::after {
					opacity: 1;
				}
			}

			&.is-selected {
				color: the_color(white);

				&::after {
					opacity: 1;
					background-color: the_color(white);
				}
			}
		}
	}
}
