/**
 * Smiley 404
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Smiley-404 {
	canvas {
		@extend %position-relative;
		@extend .d-block;

		width: 100% !important;
		height: 460px !important;
		z-index: 1;

		@include media-breakpoint-up(md) {
			height: 900px !important;
		}
	}

	&__body {
		@extend %position-relative, %overflow-hidden, %overflow-md-visible;

		background-color: the_color(gray, very-dark-02);
		z-index: -1;
	}

	&__images {
		@extend %Pointer-events-none;

		z-index: 2;

		&--top {
			margin-bottom: -30px;
		}

		&--bottom {
			margin-top: -30px;
		}

		@include media-breakpoint-up(md) {
			&--top {
				margin-bottom: -120px;
			}

			&--bottom {
				margin-top: -120px;
			}
		}

		img {
			@extend .d-block;

			height: auto;
			max-width: 100%;

			object-fit: contain;
			object-position: center;
		}
	}

	&__background {
		@include absolute(top 0 right 0 left 0 bottom 0);
		@include margin(top 140px bottom 140px);

		img {
			@include absolute(top 0 right 0 bottom 0 left 0);
			@include margin(right auto left auto);
			@include size(auto, 100%);
		}
	}
}
