/**
 * Socials
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
.Socials {
	@extend %list-style-type-none;
	@extend .d-flex;

	&__item {
		@include margin(right 10px left 10px);
		@extend .d-flex, .align-items-center, .justify-content-center;

		&:last-child {
			@include margin(right 0);
		}
		&:first-child {
			@include margin(left 0);
		}
	}

	&__link {
		@extend .d-flex, .align-items-center, .justify-content-center;
		@include size(70px);

		border-radius: 35px;
		border: 1px solid the_color(gray, very-dark-03);
		transition: 0.4s border-color map-get($easings, ease-out-expo);

		svg {
			@include size(30px);

			fill: the_color(white);
		}

		&:focus,
		&:hover {
			border-color: the_color(white);
		}
	}
}
