/**
 * Socials
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
.Socials {
	$this: &;

	@extend %list-style-type-none, %margin-md-0;
	@extend .d-flex, .flex-wrap, .flex-md-nowrap;

	@include margin(top -8px right -8px bottom -8px left -8px);

	&__item {
		@include margin(top 8px right 8px bottom 8px left 8px);
		@extend .d-flex, .align-items-center, .justify-content-center;

		@include media-breakpoint-up(md) {
			@include margin(top 0 right 10px bottom 0 left 10px);

			&:last-child {
				@include margin(right 0);
			}
			&:first-child {
				@include margin(left 0);
			}
		}
	}

	&__link {
		@extend .d-flex, .align-items-center, .justify-content-center;
		@extend %position-relative;
		@include size(50px);

		transition: transform 0.5s map-get($easings, ease-out-expo);

		@include media-breakpoint-up(md) {
			@include size(70px);
		}

		svg {
			@include size(22px);

			fill: the_color(white);
			transform: scale(0);
			transition: transform 0.5s map-get($easings, ease-out-expo);

			@include media-breakpoint-up(md) {
				@include size(30px);
			}
		}

		span {
			@include absolute(top 0 right 0 bottom 0 left 0);

			border: 1px solid the_color(gray, very-dark-03);
			border-radius: 50%;

			transform: scale(0);
			transition: border-color 0.5s map-get($easings, ease-out-expo),
				transform 1.5s map-get($easings, ease-out-expo);

			z-index: 1;
		}

		&::after {
			@include absolute(top 0 right 0 bottom 0 left 0);
			@extend .d-block;

			border: 1px solid rgba(the_color(white), 0);
			border-radius: 50%;
			transition: border-color 0.5s map-get($easings, ease-out-expo),
				transform 1.5s map-get($easings, ease-out-expo);
			content: '';
			z-index: 2;
		}

		&:focus,
		&:hover {
			&::after {
				border-color: rgba(the_color(white), 1);
				transform: scale(0.9);
			}
		}

		@at-root #{ $this }.is-inview & svg {
			transform: scale(1);
		}

		@at-root #{ $this }.is-inview & span {
			transform: scale(1);
		}
	}
}
