/**
 * Variation
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
@use "sass:math";

.Variation {
	$this: &;

	@extend .fw-normal, .text-center;

	font-size: 12px;
	line-height: math.div(28, 12);

	&__description {
	}

	&__price {
	}

	@at-root #{$this} #{$this}__availability {
		.stock {
			&.out-of-stock {
				color: the_color(red, bright);
			}
			&.in-stock {
			}
		}
	}
}
