/**
 * Video

 * @package Rider404
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
.Video {
	$this: &;

	@extend %position-relative;

	video {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@include size(100%);

		object-fit: cover;
		object-position: center;

		z-index: 1;
	}

	canvas {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@include size(100%);

		z-index: 2;
	}

	&__overlay {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@extend .d-flex, .align-items-center, .justify-content-center;

		z-index: 3;
	}
}
