/**
 * Video
 *
 * @package WordPress
 * @subpackage Rider404
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 */
@use "sass:math";

.Video {
	$this: &;

	&__body {
		@include padding(bottom percentage(math.div(611, 416)));

		transition: transform 2s map-get($easings, ease-out-expo);

		@include media-breakpoint-up(sm) {
			@include padding(bottom percentage(math.div(600, 1076)));
		}

		&.is-fixed {
			@include fixed(top 0 right 0 bottom 0 left 0);
		}
	}

	&.is-over {
		video {
			transform: scale(math.div(1, 0.95));
		}

		img {
			transform: scale(math.div(1, 0.95));
		}

		canvas {
			transform: scale(math.div(1, 0.95));
		}

		#{ $this }__body {
			transform: scale(0.95);
		}

		#{ $this }__overlay {
			transform: scale(math.div(1, 0.95));
		}
	}

	video {
		transition: transform 2s map-get($easings, ease-out-expo);
	}

	img {
		transition: transform 2s map-get($easings, ease-out-expo);
	}

	canvas {
		transition: transform 2s map-get($easings, ease-out-expo);
	}

	&__overlay {
		transition: transform 1.5s map-get($easings, ease-out-expo);
	}

	&__caption {
		@include margin(top 50px);

		font-size: 14px;
		line-height: math.div(28, 14);
		color: the_color(gray, very-dark-02);

		a {
			transition: color 0.5s map-get($easings, ease-out-expo);

			span {
				@extend .text-decoration-underline;
			}

			svg {
				@include size(30px);

				fill: the_color(gray, very-dark-02);
				transition: fill 0.5s map-get($easings, ease-out-expo);
			}

			&:focus,
			&:hover {
				color: the_color(white);

				svg {
					fill: the_color(white);
				}
			}
		}
	}
}
