{#
 # Footer
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @package WordPress
 # @subpackage Rider404
 #}
<div id="footer" class="Site-footer position-relative py-10 py-sm-25 py-lg-30 py-hd-50">
    <div class="row">
        <div class="col-9 offset-1 order-1 d-flex align-items-end mb-9 mb-md-16">
            {{- include('partials/split-text.html.twig', { id: uniqid(), classes: [ 'm-0', 'h2' ], title: __( 'Follow<br>Ride.404', 'rider404' ) } ) -}}
		</div>
		<div class="col-10 offset-1 col-sm-9 d-sm-flex align-items-sm-end order-3 order-sm-2">
            {{- include( 'partials/socials.html.twig' ) -}}
        </div>
        <div class="col-1 d-sm-flex align-items-sm-end justify-content-sm-end order-2 order-sm-3">

			<a class="Arrow Arrow--up" data-scroll-to href="top">
				<div
					id="arrow-up"
					data-scroll
					data-scroll-repeat
					data-scroll-call="arrow-up"
					data-scroll-position="bottom"
					data-module-arrow
					data-lottie-json="arrow-up"
					data-lottie-loop="false"
				></div>
			</a>
        </div>
        <div class="col-10 offset-1 col-md-7 offset-md-4 order-4 mt-17.5 mt-md-100px">
            <div class="Site-footer__copyright d-flex justify-content-between align-items-center">
                <p
					class="m-0"
					data-scroll
				>
					© 2022 RIDE.404. All rights reserved.<br class="d-md-none">
					Created by <a class="text-decoration-underline text-white-hover text-white-focus" href="https://maaad.studio/" target="_blank" rel="noopener noreferer">Maaad</a> & <a class="text-decoration-underline text-white-hover text-white-focus" href="https://19h47.fr" target="_blank" rel="noopener noreferer">19h47</a>
				</p>
                <div
					id="globe-{{ uniqid() }}"
					class="Globe"
					data-module-lottie
					data-lottie-json="globe"
					data-lottie-loop="true"
					data-lottie-autoplay="true"
				></div>
            </div>
        </div>
    </div>
</div>
