{#
 # Footer
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @package Rider404
 #}
<div id="footer" class="Site-footer" data-scroll-section>
    <div class="row">
        <div class="col-10 offset-1">
            <p class="h2">Follow<br>Rider.404</p>

            {% include 'partials/socials.html.twig' %}
        </div>    
    </div>
</div>  
