{#  
 # Variation
 #
 # @package Rider404
 #}
<script type="text/template" id="tmpl-variation-template">
    {% verbatim %}
        <div class="Variation__description woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
	    <div class="Variation__price woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
	    <div class="Variation__availability woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
    {% endverbatim %}
</script>
<script type="text/template" id="tmpl-unavailable-variation-template">
	<p>{{- __( 'Sorry, this product is unavailable. Please choose a different combination.', 'rider404' ) -}}</p>
</script>