{#
 # Single Product Thumbnails
 #
 # @package WordPress
 # @subpackage Rider404
 #}

{%- if gallery_image_ids -%}
	<div class="Section">
		<div class="row">
			{{- include( 'components/gallery.html.twig', { images: gallery_image_ids, classes: [] } ) -}}
		</div>
	</div>
{%- endif -%}
