{#
 # Single product title
 #
 # @package WordPress
 # @subpackage Rider404
 #}
<h1 class="text-align-center margin-0">
    {{
		include(
			'partials/split-text.html.twig',
			{
            	title: post.meta( 'long_title' ) ? post.meta( 'long_title' ) : post.title,
            	id: uniqid(),
            	delay: 0.5,
            	classes: [ 'product_title', 'entry-title' ]
        	},
			with_context = false
		)
	}}
</h1>
