{#
 # Loop product title
 #
 # @package WordPress
 # @subpackage Rider404
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}
<h3
	class="Loop-product-title overflow-hidden fw-semibold mt-10 {{ ( 'woocommerce-loop-product__title' | apply_filters( 'woocommerce_product_loop_title_classes' ) ) | e }}"
>
	{{- title | e( 'wp_kses_post' ) -}}
</h3>
