/**
 * Base
 */

html {
	&:not(.has-scroll-init) {
		@extend %cursor-wait, %overflow-hidden;
	}
}

body {
	@extend %font-weight-light, %font-family-body;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;

	text-rendering: optimizeLegibility;

	font-size: #{$base-font-size}px;
	line-height: $base-line-height / $base-font-size;

	background-color: the_color(gray, very-dark-01);
	color: the_color(white);
}

a,
button {
	cursor: pointer;
	outline: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

p {
	@include margin(top 0 bottom 1em);
}

strong {
	@extend %font-weight-bold;
}
