/**
 * Base
 */

@use "sass:math";

html {
	min-height: 100%;

	&.is-loading {
		@extend .cursor-wait;
	}
}

body {
	@extend .fw-light, %font-family-body;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-rendering: optimizeLegibility;

	font-size: #{$base-font-size}px;
	line-height: math.div($base-line-height, $base-font-size);

	background-color: the_color(gray, very-dark-01);
	color: the_color(white);
}

a,
button {
	cursor: pointer;
	outline: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

p {
	@include margin(top 0 bottom 1em);
}

strong {
	@extend .fw-bold;
}
