// Whyte Inktrap light
@font-face {
	font-family: 'Whyte Inktrap';
	src: url('../fonts/whyte-inktrap/whyte-inktrap-light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

// Whyte Inktrap heavy
@font-face {
	font-family: 'Whyte Inktrap';
	src: url('../fonts/whyte-inktrap/whyte-inktrap-heavy.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
