// Whyte Inktrap light
@font-face {
	font-family: 'Cambon';
	src: url('../fonts/whyte-inktrap/whyte-inktrap-light.eot');
	src: url('../fonts/whyte-inktrap/whyte-inktrap-light.woff2') format('woff2'),
		url('../fonts/whyte-inktrap/whyte-inktrap-light.woff') format('woff'),
		url('../fonts/whyte-inktrap/whyte-inktrap-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/whyte-inktrap/whyte-inktrap-light.ttf') format('truetype'),
		url('../fonts/whyte-inktrap/whyte-inktrap-light.svg#whyte-inktrap-light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

// Whyte Inktrap heavy
@font-face {
	font-family: 'Cambon';
	src: url('../fonts/whyte-inktrap/whyte-inktrap-black.eot');
	src: url('../fonts/whyte-inktrap/whyte-inktrap-black.woff2') format('woff2'),
		url('../fonts/whyte-inktrap/whyte-inktrap-black.woff') format('woff'),
		url('../fonts/whyte-inktrap/whyte-inktrap-black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/whyte-inktrap/whyte-inktrap-black.ttf') format('truetype'),
		url('../fonts/whyte-inktrap/whyte-inktrap-black.svg#whyte-inktrap-black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
