/**
 * Basic typography style for copy text
 */

// @include reset-selection( get_color( black ), get_color( white ) );

@use "sass:math";

h1,
.h1 {
	@extend .fw-extrablack, %font-family-title;
	@include margin(top 1em bottom 2em);

	font-size: 50px;
	line-height: (55*0.02);

	@include media-breakpoint-up(md) {
		font-size: vw_size(110);
		line-height: vw_size(130);
	}
}

h2,
.h2 {
	@extend .fw-light, %font-family-title;
	@include margin(top 1em bottom 1em);

	font-size: 28px;
	line-height: math.div(32, 28);

	@include media-breakpoint-up(md) {
		font-size: 44px;
		line-height: math.div(52, 44);
	}

	@include media-breakpoint-up(lg) {
		font-size: 48px;
		line-height: math.div(52, 48);
	}

	@include media-breakpoint-up(hd) {
		font-size: 78px;
		line-height: math.div(92, 78);
	}
}

h3,
.h3 {
	@extend .fw-light, %font-family-title;
	@include margin(top 1em bottom 0);

	@include media-breakpoint-up(md) {
		font-size: 38px;
		line-height: math.div(23, 38);
	}
}

h4,
.h4 {
	@extend .fw-extrablack, %font-family-title;
	@include margin(top 1em bottom 0);

	font-size: 36px;
	line-height: 39px;
}

h5,
.h5 {
	@extend .fw-extrablack, %font-family-title;

	@include media-breakpoint-up(md) {
		font-size: 30px;
		line-height: math.div(39, 30);
	}
}

// h6,
// .h6 {
// }
