{#
 # Page: 404
 #
 # @package WordPress
 # @subpackage Rider404
 #}
{% extends 'index.html.twig' %}

{% block hero %}

	<div class="Error404__body d-flex align-items-center justify-content-center">
		<div class="row">
			<div class="col-10 offset-1 text-center">
				<h1 class="m-0">
					{{-
						include(
							'partials/split-text.html.twig',
							{
								title: 'Ooops!',
								id: uniqid(),
								delay: 0.5
							},
							with_context = false
						)
					-}}
				</h1>
				<a class="Site-header__title Page__title overflow-hidden Link-underline Link-underline--small pe-auto" href="{{ site.link }}">
                    <div class="is-inview is-active">{{- __( 'Back to home', 'rider404' ) -}}</div>
                </a>
			</div>
		</div>

		{{- include( 'components/video.html.twig', { id: 'video-error404', animated: false, media: { type: 'video', url: error_404_video_url }, overlay: false } ) -}}
	</div>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
