{#
 # Archive product
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}
	
	{% embed 'partials/bar.html.twig' %}
		{% block content %}
			<div class="Quick-product-categories">
				{% include 'components/product-categories.html.twig' %}
			</div>
		{% endblock %}
	{% endembed %}

	<div class="Section" data-scroll-section>
		<div class="row">
			<div class="col-10 offset-1">
				{% include 'components/product-categories.html.twig' %}
			</div>
		</div>
	</div>

	{% if product_loop %}

		{#
		 # Hook: woocommerce_before_shop_loop.
		 #
		 # @hooked woocommerce_output_all_notices - 10
		 #}
		{% do action( 'woocommerce_before_shop_loop' ) %}


		{{- fn( 'woocommerce_product_loop_start' ) -}}

		{% for product in products %}
			{% do action( 'woocommerce_shop_loop' ) %}

			{% include 'woocommerce/content-product.html.twig' %}
			
		{% endfor %}

		{{- fn( 'woocommerce_product_loop_end' ) -}}

		{#
		 # Hook: woocommerce_after_shop_loop.
		 #
		 # @hooked woocommerce_pagination - 10
		 #}
		{% do action( 'woocommerce_after_shop_loop' ) %}
	{% else %}

		<div class="row">				
			<div class="col-10 offset-1">
				{#
				 # Hook: woocommerce_no_products_found.
				 #
				 # @hooked wc_no_products_found - 10
				 #}
				{% do action( 'woocommerce_no_products_found' ) %}
			</div>
		</div>
	{% endif %}

{% endblock  %}
