{#
 # Cart page
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block hero %}{% endblock %}

{% block content %}
    <div class="Section">
        <div class="row">
            <div class="col-10 offset-1">
                {{ post.content }}
            </div>
        </div>
    </div> 

{% endblock  %}
