{#
 # Error
 #
 # @package Rider404
 #}

{% if notices %}
	<ul class="Error woocommerce-error" role="alert">
		{% for notice in notices %}
			<li{{ function( 'wc_get_notice_data_attr', notice ) }}>
 				{% include 'svg/use.html.twig' with { icon: 'face-without-mouth' } only %}

				{{- function( 'wc_kses_notice', notice.notice ) -}}
			</li>
		{% endfor %}
	</ul>
{% endif %}
