/**
 * About
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider.404
 */
.About {
	@extend %overflow-hidden, %overflow-md-visible;

	&__content {
		@extend %position-relative, %text-align-center, %font-family-title, %font-weight-light;

		font-size: 28px;
		min-height: (38/28);

		@include media-breakpoint-up(md) {
			font-size: 44px;
			min-height: (52/44);
		}

		@include media-breakpoint-up(lg) {
			font-size: 48px;
			min-height: (58/48);
		}

		@include media-breakpoint-up(hd) {
			font-size: 78px;
			min-height: (92/78);
		}

		img {
			@include absolute(top 0 right 0 bottom 0 left 50%);
			@include margin(top auto bottom auto);
			@include size(auto, 100%);

			transform: translate3d(-50%, 0, 0);

			opacity: 0.1;

			@include media-breakpoint-up(md) {
				@include size(100%, auto);
				@include margin(right auto left auto);

				right: 0;
				left: 0;
				transform: none;
			}
		}
	}

	&__link {
		@extend %font-weight-extrablack, %font-family-title, %text-decoration-underline;

		font-size: 19px;
		line-height: (11/19);

		@include media-breakpoint-up(md) {
			font-size: 34.5px;
			line-height: (19/34.5);
		}
	}
}
