/**
 * About
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
@use "sass:math";

.About {


	// @include padding(top 80px);

	// @include media-breakpoint-up(sm) {
	// 	@include padding(top 200px);
	// }

	&__content {
		@extend  %font-family-title;

		font-size: 28px;
		line-height: math.div(38, 28);

		@include media-breakpoint-up(md) {
			font-size: 44px;
			line-height: math.div(52, 44);
		}

		@include media-breakpoint-up(lg) {
			font-size: 48px;
			line-height: math.div(58, 48);
		}

		@include media-breakpoint-up(hd) {
			font-size: 78px;
			line-height: math.div(92, 78);
		}

		& > div {
			@extend .position-relative;

			z-index: 2;
		}

		img {
			transform: translate3d(-50%, 0, 0);

			@include media-breakpoint-up(md) {
				transform: none;
			}
		}
	}

	&__icons {


		li {


			svg {
				// @include size(100%);

				fill: the_color(gray, very-dark-03);
				transform: rotate(45deg);
				opacity: 0;
				transition: transform 1s map-get($easings, ease-out-expo) 0.5s,
					opacity 1s map-get($easings, ease-out-expo) 0.5s;
			}

			&.is-inview {
				svg {
					transform: none;
					opacity: 1;
				}
			}

			&:nth-child(1) {
				// @include size(70px);


				// top: 0;
				left: percentage(math.div(7.5, 12));
			}

			&:nth-child(2) {
				// @include size(140px);

				top: 300px;
				left: percentage(0);
			}

			&:nth-child(3) {
				// @include size(70px);

				top: 550px;
				left: percentage(math.div(10.5, 12));
			}
		}
	}
}
