/**
 * Carousel
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
@use "sass:math";

.Carousel {
	$this: &;

	.swiper-button {
		// @include absolute(top 0 bottom 0);
		// @include size(percentage(2*0.125), 100%)
	}

	&__items {
		height: 230px;

		@include media-breakpoint-up(sm) {
			height: 435px;
		}

		@include media-breakpoint-up(md) {
			height: 635px;
		}

		@include media-breakpoint-up(lg) {
			height: 705px;
		}

		@include media-breakpoint-up(hd) {
			height: 1130px;
		}

		// .flickity-viewport {
		// 	overflow: visible;
		// }


	}
	&__item {

		// @include margin(right percentage(0.25*0.1) left percentage(0.25*0.1));

		// my-0.1/4 my-sm-0.375/4


		transition: transform 1.5s map-get($easings, ease-out-expo);

		// @include media-breakpoint-up(sm) {
		// 	@include margin(right percentage(0.75*0.125) left percentage(0.75*0.125));
		// }

		// .Image-reveal {
		// 	@include size(100%);
		// }

		img {

			filter: grayscale(100%);

			transition: filter 1s map-get($easings, ease-out-expo),
				transform 1.5s map-get($easings, ease-out-expo);
		}

		@at-root #{ $this }__items .is-pointer-down & {
			transform: scale(0.9);

			img {
				transform: scale((math.div(1, 0.9)) + 0.1) rotate(7deg);
				filter: grayscale(0);
			}
		}
	}
}
