/**
 * Footer
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package WordPress
 * @subpackage Rider404
 */
@use "sass:math";

.Site-footer {
	// py-40px py-sm-100px py-lg-120px py-hd-200px
	// @include padding(top 40px bottom 40px);

	// @include media-breakpoint-up(sm) {
	// 	@include padding(top 100px bottom 100px);
	// }

	// @include media-breakpoint-up(lg) {
	// 	@include padding(top 120px bottom 120px);
	// }

	// @include media-breakpoint-up(hd) {
	// 	@include padding(top 200px bottom 200px);
	// }

	// &__title {
	// 	// mt-0 mb-35px mb-md-65px
	// 	@include margin(top 0 bottom 35px);
	// 	// @extend .h2;

	// 	@include media-breakpoint-up(md) {
	// 		@include margin(bottom 65px);
	// 	}
	// }

	&__copyright {
		color: the_color(gray, very-dark-02);
		font-size: 12px;
		line-height: math.div(18, 12);

		p {
			transform: translate3d(0, 100%, 0);
			opacity: 0;

			transition: transform 0.5s map-get($easings, ease-out-expo) 0.5s,
				opacity 1s map-get($easings, ease-out-expo) 0.5s;

			&.is-inview {
				transform: translate3d(0, 0, 0);
				opacity: 1;
			}
		}

		a {
			transition: color 0.5s map-get($easings, ease-out-expo);
		}
	}
}
