/**
 * Footer
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider.404
 */
.Site-footer {
	@include padding(top 40px bottom 40px);

	@include media-breakpoint-up(md) {
		@include padding(top 100px bottom 100px);
	}

	&__title {
		@include margin(bottom 50px);
		@extend .h2, .margin-top-0;

		@include media-breakpoint-up(md) {
			@include margin(bottom 65px);
		}
	}

	&__copyright {
		@include margin(top 70px);
		@extend .d-flex, .justify-content-between, .align-items-center;

		color: the_color(gray, very-dark-02);
		font-size: 12px;
		line-height: (18/12);

		@include media-breakpoint-up(md) {
			@include margin(top 100px);
		}

		p {
			@extend %margin-0;

			transform: translate3d(0, 100%, 0);
			opacity: 0;

			transition: transform 0.4s map-get($easings, ease-out-expo),
				opacity 0.8s map-get($easings, ease-out-expo) 0.4s;

			&.is-inview {
				transform: translate3d(0, 0, 0);
				opacity: 1;
			}
		}

		a {
			@extend %text-decoration-underline;

			transition: color 0.4s map-get($easings, ease-out-expo);

			&:focus,
			&:hover {
				color: the_color(white);
			}
		}

		svg {
			@include size(58px, 37px);

			fill: currentColor;
			min-width: 58px;
		}
	}
}
