/**
 * Header
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider404
 */
.Site-header {
	$this: &;

	@include padding(top 60px bottom 60px);
	@extend %Pointer-events-none, %position-relative;
	@include autoAlpha(1);

	transition: transform 1.5s map-get($easings, ease-out-expo),
		opacity 1.5s map-get($easings, ease-out-expo),
		visibility 1.5s map-get($easings, ease-out-expo);
	color: the_color(white);
	z-index: 15;

	@at-root [data-direction='down'] & {
		@include media-breakpoint-up(sm) {
			@include autoAlpha(0);

			transform: translateY(-100%);
		}
	}

	@at-root .Navigation--is-open & {
		color: the_color(black);
	}

	@include media-breakpoint-up(md) {
		@include padding(top 75px bottom 75px);
	}

	@include media-breakpoint-up(lg) {
		@include padding(top 95px bottom 95px);
	}

	@include media-breakpoint-up(hd) {
		@include padding(top 170px bottom 170px);
	}

	&__smiley {
		@include size(50px);
		@extend .d-block;
		@include margin(right auto left auto);
		@extend %Pointer-events-auto, %overflow-hidden;

		@include media-breakpoint-up(md) {
			@include size(70px);
		}

		div {
			opacity: 0;
			transform: translate3d(0, -100%, 0);
			transition: transform 0.5s map-get($easings, ease-out-expo) 0.5s,
				opacity 0.5s map-get($easings, ease-out-expo) 0.5s;

			@at-root .is-loaded & {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}

			svg {
				@include size(100%);

				min-width: 50px;

				path {
					fill: currentColor !important;
					transition: fill 0.5s map-get($easings, ease-out-expo) !important;
				}

				@include media-breakpoint-up(md) {
					min-width: 70px;
				}

				@at-root .Navigation--is-open & {
					path {
						fill: the_color(black) !important; // Lottie
					}
				}
			}
		}
	}

	&__love-two-ride-four-love {
		@include size(99px, 12px);

		svg {
			@include size(100%);
			@extend .d-block;

			min-width: 99px;

			path {
				fill: currentColor;
				transition: fill 0.5s map-get($easings, ease-out-expo) 1s;
			}
		}
	}

	&__title {
		@at-root .Navigation--is-open #{ $this } & {
			@extend .d-none;
		}
	}

	&__mini-cart {
		@extend %Pointer-events-auto;
	}

	&__bars {
		@extend %Pointer-events-auto, %overflow-hidden;
		@include margin(left 30px);

		opacity: 0;
		transform: translate3d(0, -100%, 0);
		transition: transform 0.5s map-get($easings, ease-out-expo) 0.7s,
			opacity 0.5s map-get($easings, ease-out-expo) 0.7s;

		@include media-breakpoint-up(md) {
			@include margin(right percentage(100/ ((1440/12) * 2)) left 40px);
		}

		@at-root .is-loaded & {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}
