/**
 * Tags
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider.404
 */
.Tags {
	@extend %position-relative, %overflow-hidden;

	height: 900px;

	&__items {
		@extend %list-style-type-none;
	}

	&__item {
		position: absolute;

		white-space: nowrap;

		&:nth-child(1) {
			top: 0;
			left: percentage(1095/1440);
			transform: rotate(-32deg);
		}
		&:nth-child(2) {
			top: 125px;
			left: percentage(-90/1440);
			transform: rotate(-2deg);
		}
		&:nth-child(3) {
			top: 310px;
			left: percentage(600/1440);
			transform: rotate(14deg);
		}
		&:nth-child(4) {
			top: 500px;
			left: 0;
			transform: rotate(-23deg);
		}
		&:nth-child(5) {
			top: 530px;
			left: percentage(660/1440);
			transform: rotate(-9deg);
		}
		&:nth-child(6) {
			top: 740px;
			left: percentage(870/1440);
			transform: rotate(33deg);
		}

		span {
			@extend .d-inline-block;
			@include padding(top 30px right 30px bottom 30px left 30px);

			background-color: the_color(white);

			img {
				@include size(auto, 100px);
			}
		}
	}
}
