/**
 * Tags
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 * @package Rider.404
 */
@use "sass:math";

.Tags {
	height: 900px;

	&__item {
		position: absolute;

		white-space: nowrap;

		&:nth-child(1) {
			top: 0;
			left: percentage(math.div(1095, 1440));
			transform: rotate(-32deg);
		}
		&:nth-child(2) {
			top: 125px;
			left: percentage(math.div(-90, 1440));
			transform: rotate(-2deg);
		}
		&:nth-child(3) {
			top: 310px;
			left: percentage(math.div(600, 1440));
			transform: rotate(14deg);
		}
		&:nth-child(4) {
			top: 500px;
			left: 0;
			transform: rotate(-23deg);
		}
		&:nth-child(5) {
			top: 530px;
			left: percentage(math.div(660, 1440));
			transform: rotate(-9deg);
		}
		&:nth-child(6) {
			top: 740px;
			left: percentage(math.div(870, 1440));
			transform: rotate(33deg);
		}

		span {
			@extend .d-inline-block;
			@include padding(top 20px right 20px bottom 20px left 20px);

			background-color: the_color(white);

			@include media-breakpoint-up(md) {
				@include padding(top 30px right 30px bottom 30px left 30px);
			}

			img {
				@include size(auto, 60px);

				@include media-breakpoint-up(md) {
					@include size(auto, 100px);
				}

				@include media-breakpoint-up(hd) {
					@include size(auto, 150px);
				}
			}
		}
	}
}
